@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;700&display=swap");
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

i:hover {
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Koulen', cursive;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
}

main {
  background-image: url("../img/vendidos-fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Titulo del inicio */
.headerInicio__title {
  position: absolute;
  bottom: 0;
  margin-bottom: 10rem;
  margin-left: 10rem;
}

.headerInicio__title a {
  display: inline-block;
  /* Para que el <a> se pueda mover y funcione la animacion */
}

.headerInicio__title a:hover {
  color: white;
  font-weight: bold;
  animation: animacion .5s linear 0s infinite alternate;
}

/* Footer */
footer {
  background: #9d9d9d;
  background: radial-gradient(circle, #9d9d9d 0%, black 87%);
}

footer a {
  margin: 1.5rem 0;
  text-decoration: underline;
}

footer a:hover {
  color: #3d3d3d;
  font-weight: bold;
  animation: animacion .5s linear 0s infinite alternate;
}

/* 
    ==============INDEX==============
*/
/* Header y navegacion*/
.header {
  background-image: url(../img/inicio.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.header__title {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 41px 30px rgba(0, 0, 0, 0.918);
}

.logo img {
  height: 80px;
  padding-left: 20px;
}

.navbar {
  z-index: 1000000;
}

.navbar-nav li a {
  display: inline-block;
  /* Para que el <a> se pueda mover y funcione la animacion */
  color: white;
}

.navbar-nav li a:hover {
  color: white;
  font-weight: bold;
  animation: animacion .5s linear 0s infinite alternate;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #656464;
}

/* Vendidos */
.vendidos h2,
.beneficios h2 {
  margin-top: 2rem;
  box-shadow: 0px 0px 41px 30px black;
}

.vendidos__card img {
  border-radius: 20px;
  height: 300px;
  width: 400px;
}

.vendidos__card img:hover {
  transition: .4s;
  filter: brightness(50%);
  transform: scale(1.1);
  margin: 20px 0;
}

/* Beneficios */
.beneficios {
  margin-top: 5rem;
}

.beneficio {
  padding-bottom: 2px;
}

.beneficio__mensaje {
  margin: 3rem;
  box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.75);
  border-radius: 53% 47% 0% 100% / 54% 100% 0% 46%;
  padding: 13rem;
}

/* Header y nav */
.headerGaleria {
  background-image: url(../img/productos.jpg);
}

.galeria__card {
  transition: .4s;
  position: relative;
}

.galeria__card:hover {
  transform: scale(1.1);
}

.galeria__card img {
  border-radius: 20px;
  height: 300px;
  width: 300px;
  outline: 5px solid white;
}

.galeria__card img:hover {
  cursor: pointer;
  transition: .4s;
}

/* Header y nav */
.headerProductos {
  background-image: url(../img/productos.jpg);
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
}

.productos .productos__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: 5px solid white;
  position: relative;
}

.productos .productos__card img {
  border-radius: 20px;
  height: 300px;
}

.productos .productos__card img:hover {
  cursor: pointer;
  transition: .4s;
  filter: brightness(120%);
}

.productos .productos__card a {
  position: absolute;
  right: 0;
  margin: 27.5rem 1rem 0;
  z-index: 100000;
  color: black;
}

.productos .productos__card a:hover {
  font-weight: bold;
  animation: animacion .5s linear 0s infinite alternate;
}

.formulario {
  max-width: 70rem;
}

.formulario .formulario__mensaje {
  display: flex;
  flex-direction: column;
}

.formulario .formulario__btn {
  background-color: rgba(0, 0, 0, 0.267);
  padding: 2rem;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  width: 100px;
  align-self: flex-end;
}

.formulario .formulario__btn:hover {
  background-color: rgba(42, 42, 42, 0.267);
  cursor: pointer;
}

/* Mediaqueries & Keyframes */
@keyframes animacion {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}

@media (max-width: 768px) {
  /* 
    ==============INDEX==============
    */
  /* Header y nav */
  .header__contenedor {
    flex-direction: column;
    border-radius: 0;
    margin-top: unset;
    position: relative;
  }
  .header__navegacion {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 0;
    text-align: center;
  }
  .header__navegacion li {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  /* 
    ==============PRODUCTOS==============
    */
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
  /* 
    ==============GALERIA==============
    */
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
  /* 
    ==============CONTACTO==============
    */
  .formulario__extra {
    flex-direction: column;
  }
  .formulario__btn {
    width: 100%;
  }
}

@media (max-width: 576px) {
  /* 
    ==============PRODUCTOS==============
    */
  .headerInicio__title {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
  }
  .productos {
    grid-template-columns: 100%;
  }
  /* 
    ==============GALERIA==============
    */
  .galeria {
    grid-template-columns: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */