/* Header y nav */
.headerGaleria{
    background-image: url(../../assets/img/productos.jpg);
}
.galeria__card{
    position: relative;
    &:hover{
        cursor: pointer;
        transition: .4s;
        transform: scale(1.1);
        filter: brightness(120%);
    }
    & img{
        border-radius: 20px;
        height: 300px;
        width: 300px;
        outline: 5px solid white;
    }
}