/* Header y nav */
.headerProductos{
    background-image: url(../../assets/img/productos.jpg);
}

/* Contenido principal */
.productos{
    .container{
        .row{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 2rem;
        }
    }
    .productos__card{
        border: 5px solid white;
        position: relative;
        // border-radius: 20px;
        padding: 0;
        & img{
            height: 300px;
            // border-radius: 15px 15px 0 0;
            &:hover{
                cursor: pointer;
                transition: .4s;
                filter: brightness(120%);
            }
        }
        & a{
            position: absolute;
            top: 0;
            right: 0;
            margin: 27.5rem 1rem 0;
            z-index: 100000;
            color: black;
            &:hover{
                font-weight: bold;
                animation: animacion .5s linear 0s infinite alternate;
            }
        }
    }
}