@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;700&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "utilities/variables";
@import "general";
@import "index";
@import "galeria";
@import "productos";
@import "contacto";

/* Mediaqueries & Keyframes */
@keyframes animacion{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(5px);
    }
}

@media (max-width: 992px){
    /* 
    ==============PRODUCTOS==============
    */
    .productos{
        .container{
            .row{
                grid-template-columns: repeat(2,1fr);
                gap: 2rem;
            }
        }
    }
}
@media (max-width: 768px) {
    /* 
    ==============INDEX==============
    */

    /* Header y nav */
    .header__contenedor{
        flex-direction: column;
        border-radius: 0;
        margin-top: unset;
        position: relative;
    }
    .header__navegacion{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 0;
        text-align: center;
    }
    .header__navegacion li{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    /* Beneficios */
    .beneficio__mensaje{
        box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.75);
        border-radius: 30px;
        padding: 3rem;
    }



    /* 
    ==============GALERIA==============
    */
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }

    /* 
    ==============CONTACTO==============
    */
    .formulario__extra{
        flex-direction: column;
    }
    .formulario__btn{
        width: 100%;
    }
}

@media (max-width:576px) {
    /* 
    ==============INDEX==============
    */
    /* Beneficios */
    .beneficio__mensaje{
        margin: 0 auto;
        width: 400px;    
    }
    /* Galeria */
    .vendidos__card img:hover{
        transition: .4s;
        filter: brightness(120%);
        transform: unset;
        margin: unset;
    }

    /* 
    ==============GALERIA==============
    */
    .galeria{
        grid-template-columns: 100%;
    }

    /* 
    ==============PRODUCTOS==============
    */
    .productos{
        .container{
            .row{
                grid-template-columns: 100%;
                gap: 2rem;
            }
        }
    }
}